<h1>Welcome to the Matrix</h1>
<div class="row">
    <div class="col-md-2">
        <h2>Users</h2>
        <ul class="li">Morpheus</ul>
        <ul class="li">Neo</ul>
        <ul class="li">Trinity</ul>
    </div>
    <div class="col-md-10">
        <h2>Chat</h2>
            <div style="height:400px; width:100%;" >
				<p ng-repeat="message in main.messages">{{message.message}}</p>
			</div>
        <input type="text" class="form-control" ng-model="main.newMessage">
        <button class="btn btn-success" ng-click="main.sendMessage()">Envoyer</button>
    </div>
</div>